<!-- <div *ngIf="hero"> -->
  <div class="row">
    <div class="col-sm-6">
      <div class="chart-style">
        <div [hidden]="!lineChart">
          <canvas id="lineCanvas">
            {{ lineChart }}
          </canvas>
        </div>        
      </div>
    </div>
    <div class="col-sm-6">
        <div class="chart-style">
          <canvas>
  
          </canvas>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <div class="chart-style">
          <canvas>
  
          </canvas>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="chart-style">
          <canvas>
  
          </canvas>
        </div>
    </div>
  </div>
<!-- </div> -->
