<div class="row">
  <div class="col-xs-12">
      <div class="section">
        <div class="section-header">
          {{title}}
        </div>
        <div class="section-body">              
          <table class="table table-striped">
            <thead>
              <tr>
                <td>No.</td>
                <td>Message</td>
              </tr> 
            </thead>
            <tbody>
              <tr *ngFor="let message of messages; index as i">
                <td>{{i+1}}</td>
                <td>{{message}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>

