<div class="row">
  <div class="col-sm-12">
    <div class="section">
      <div class="section-header">
        <div class="row">
          <div class="col-sm-12 section-title">
            {{title}}
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="hero-card-container">
            <div *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}" class="hero-card" style="width: 18rem;">
              <img class="card-img-top image-size" src="./../../assets/{{hero.icon | lowercase}}.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="hero-card-title">{{hero.name}}</h5>            
              </div>
            </div>
        </div>
      </div>
    </div>    
  </div>
</div>
